.separador {
    border-bottom: 2px solid black;
    box-sizing: border-box;
    margin: 1rem 0;
    width: 200%;
    
}
.separador2 {
    border-bottom: 2px solid black;
    box-sizing: border-box;
    width: 50%;
    margin: 1rem 0 0 0;    
}