.contacto__container {
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px 0 0 10px;
    padding: 1rem;
    width: 50%;
    box-shadow: 3px 4px 11px -3px rgba(0,0,0,0.72);
    display: flex;
    text-align: center;
    flex-direction: column;
}

.contacto__TipsContainer {
    display: flex;
    margin: 1rem auto;
    justify-content: center;
    flex-direction: row-reverse;
}

.contactoTips {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem auto;
    justify-content: center;
    width: 30%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    background-color: #1F2023;
    color: #BEBEBE;
    border-radius: 0 10px 10px 0;
}

.contactoLista {
    text-align: center;
    list-style-type: disclosure-closed;
    display: flex;
    flex-direction: column;
    align-items: center;
}