.cotizacion__lista {
    display: flex;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cotizacion__listaProductos {
    display: flex;
    list-style: none;
    flex-direction: column;
}