.fieldset {
    border: none;
}

.input {
    width: 90%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #BEBEBE;
    margin: .5rem;
}

.inputE {
    width: 90%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #BEBEBE;
    margin: .5rem;
}

.input:focus {
    outline: none;
}

.input-label {

}

.input__container {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 0 1rem;
}