.quienesSomosContainer {
    display: flex;
    flex-direction: column;
}
.quienesSomos {
    text-align: center;
    padding: 2.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500; 
}

.quienesSomos h1 {
    font-size: 5rem;
}

.quienesSomos p {
    font-size: 1.3rem;
}

.quienesSomosPersonas {
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: space-between;
    padding: 0 10rem 0 10rem;
}

.quienesSomosPersonas img {
    border-radius: 100%;
    width: 200px;
}

.li, h2  {
    margin: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

@media (max-width: 768px) {
    .quienesSomosPersonas {
        padding: 0;
        margin: 0 1rem 0 1rem;
    }
}