.container__foto {
    width: 40%;
    height: 40%;
    margin: 0 1rem 0 .5rem;

    box-sizing: border-box;
    border-radius: 100px 100px 100px 100px;
}

.container__fotoX {
    width: 550px;
    height: 400px;
    margin: 0 1rem 0 .5rem;

    box-sizing: border-box;
    border-radius: 0 100px 0 100px;
}