.encabezado {
    z-index: 100;
    width: 100%;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
}

.encabezado2 {
    width: 100%;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
}

.encabezado3 {
    width: 100%;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
}