.encabezado__imprimir {
    margin-right: 2rem;
}

.encabezado__imprimirItem {
    text-decoration: none;
    color: #1F2023;
    background-color: #ebc78c;
    box-sizing: border-box;
    padding: .5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: .9rem;
}

@media print {
    .no-print {
      display: none;
    }
  }