.encabezado__link {
    display: inline-block;
    color: #ffffff;
    margin: 0 1.5rem;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.encabezado__logo-shop {
    width: 1.25rem;
}